﻿body {
 /*   padding-top: 50px;*/
    /*padding-bottom: 20px;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    border-right: 1px solid #eae6e6;
    border-left: 1px solid #eae6e6;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

.d-block{
    display:block;
}
.navbar {
    border-radius: 0px;
    margin-bottom: 0px;
}
.bg-white{
    background-color:orange;
}
.text-3rem{
    font-size:3rem;
}.text-2rem{
    font-size:2rem;
}
footer {
    padding: 2rem 0rem 0rem 0rem;
}
.mt-3{
    margin-top:3rem;
}
.title {
    font-size: 5rem;
    color:white!important;
}