﻿@{ string CurrentDomain = string.Empty;
    string MainDomain = string.Empty;
    string _requestDomain = this.Request.Url.Host;
    if (_requestDomain.Contains("www."))
    {
        MainDomain = _requestDomain.Replace("www.", "");
    }
    else
    {
        MainDomain = _requestDomain;

    }

    if (Request.Url.Host.Contains("localhost"))
    {
        CurrentDomain = Request.Url.Scheme + "://" + Request.Url.Host + ":" + Request.Url.Port.ToString();


    }
    else
    {
        CurrentDomain = Request.Url.Scheme + "://" + Request.Url.Host;
    }
}


@helper  getDomain(Uri url, bool OnlyDomainName = false)
{
    string ccb = string.Empty;
    if (!url.Host.Contains("localhost"))
    {
        var domains = url.Host.Substring(0, url.Host.LastIndexOf(".")).Split('.');
        var subDomain = string.Join("/", domains.Take(domains.Length - 1));
        var mainDomain = domains.Last();
        if (OnlyDomainName)
        {
            ccb = mainDomain + ".in";
        }
        else
        {
            ccb = "http://" + mainDomain + ".in";
        }
        @ccb
    }
    else
    {
        ccb = "http://localhost";
        @ccb
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - JIS</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header class="">

        <!--====================Logo & Title=========================-->
        <div class="container d-none d-lg-block d-md-block">
            <div class="row brand-container bg-white pt-2 pb-2">

                <div class="col-md-1 col-sm-12 mt-3">
                    <img style="width:100px;" src="~/Content/img/jis-group-logo.jpeg" />
                </div>
                <div class="col-md-11 col-sm-12" style="padding: 5px;">
                    <h3 class="text-center ">
                        <a class="text-center title" href="http://www.jis.ccbnic.in">
                            Admission Uder West Bengal Student<br />
                            Credit Card Scheme
                        </a>
                        <p>
                            Get Special Scholarship (30% in College Fee)<br />
                            Get Uniform & Books Also Free. Apply Now.
                        </p>
                        <br />
                            <span class="label label-primary  text-2rem ">Course Fee through WBSCC</span>
                        
                    </h3>
                    @*<div class="">
                        <h3 class="tag-line text-danger"> Scholarship & Welfare Scheme </h3>
                        <span class="tag-line text-small"> [By CCB Regd. Under ITA, 1882 of Govt. of India-Reg.No.-2896/11] </span>
                    </div>*@
                </div>


                <div class="clearfix"></div>
            </div>
            <div class="row">
                <div class="navbar navbar-inverse ">
                    @*navbar-fixed-top*@
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            @*@Html.ActionLink("JIS Counselling", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li>@Html.ActionLink("Apply Online", "ForCounselling", "Register")</li>
                                <li>@Html.ActionLink("Download Counselling Letter", "CounsellingLetter", "Download")</li>
                                @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====================Logo & Title END=========================-->


    </header>

    <div class="container body-content">
        <div class="mt-3">
            @RenderBody()
        </div>
        <hr />

    </div>
    <div class="container">
        <footer class="bg-white row">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <h3 class="label label-primary  text-3rem">Apply for joint counselling</h3><br /><br />
                            <p><strong style="font-size:2rem;">HelpLine No: 9147103873</strong></p>
                        </div>
                    </div>
                </div>
            </div>
          
            <div class="container" style=" background-color: antiquewhite;">
                <div class="row">
                    <div class="col-lg-12">
                        <div>
                            <p>&copy; @DateTime.Now.Year - Copyright &copy; CCB-2021. Powered by : CCB</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
